body {
  padding: 0;
  margin: 0;
}

html, body, #mapid {
  height: 100%;
  width: 100vw;
}
.estiloIconos {
  color: blue;
}

/* Selectores para la leyenda de leaflet-choropleth */
.legend {
	color: #555;
	padding: 6px 8px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.legend ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	clear: both;
}

.legend li {
	display: inline-block;
	width: 30px;
	height: 22px;
}

.legend .min {
	float: left;
	padding-bottom: 5px;
}

.legend .max {
	float: right;
}

/* Ubicacion control de opacidad */
.column {
	float: left;
	width: 25%,
}	
	/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

{
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #ffdf00;
}


body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

a.one:link, a.one:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
}

a.one:hover, a.one:active {
  background-color: red;
}

.centrado{text-align:center;border:1 dotted #000; padding:12px;}
